body {
  background-color: #f8f8f8;
  color: #5f5f5f; }

.green {
  background-color: #4CAF50 !important; }

.white {
  background-color: white !important; }

.white-text {
  color: white !important; }

.dark-grey-text {
  color: #a6a6a6 !important; }

.full-screen-section {
  height: 100vh;
  background-color: #4CAF50;
  color: white;
  padding-top: 9em;
  position: relative;
  overflow: hidden; }
  .full-screen-section img.illust {
    z-index: 1;
    position: absolute;
    width: 40em;
    left: calc(50% - 20em);
    bottom: -1em; }
    @media (max-width: 768px) {
      .full-screen-section img.illust {
        display: none; } }

.search-form {
  width: 100%;
  margin: 2em auto; }
  .search-form .parameter {
    height: 4em;
    overflow: hidden;
    transition: all 0.5s ease !important; }
  .search-form input[type="text"].search-input {
    padding: 1em 1.5em;
    height: 3em;
    border: none;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4) !important;
    border-radius: 1.5em !important; }
  .search-form input[type="text"].search-input:hover, .search-form input[type="text"].search-input:focus {
    box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.4) !important; }
  .search-form .col-md-6 {
    z-index: 2; }
    @media (max-width: 768px) {
      .search-form .col-md-6 {
        text-align: center !important;
        margin: 0.5em auto !important; } }
  @media (min-width: 1200px) {
    .search-form {
      max-width: 60em; } }

.grey-btn, .grey-btn:focus {
  background-color: #e0e0e0 !important;
  color: #5f5f5f !important;
  border-radius: 1.5em !important; }

.grey-btn:hover {
  background-color: white !important;
  color: #4CAF50 !important;
  border-radius: 1.5em !important;
  transition: all 0.3s ease !important; }

.btn-grey, .btn-grey:focus {
  background-color: #e0e0e0 !important;
  color: #5f5f5f !important;
  border-radius: 1.5em !important; }

.btn-grey:hover {
  background-color: #a6a6a6 !important;
  color: white !important;
  border-radius: 1.5em !important;
  transition: all 0.3s ease !important; }

.btn-white {
  background-color: white !important;
  color: #5f5f5f !important;
  border-radius: 1.5em !important; }

.btn-white:hover {
  background-color: #e0e0e0 !important;
  color: #5f5f5f !important;
  border-radius: 1.5em !important;
  transition: all 0.3s ease !important; }

.btn-red {
  background-color: #F44336 !important;
  color: white !important;
  border-radius: 1.5em !important; }

.btn-red:hover {
  background-color: #D32F2F !important;
  color: white !important;
  border-radius: 1.5em !important;
  transition: all 0.3s ease !important; }

.btn-green {
  background-color: #4CAF50 !important;
  color: white !important;
  border-radius: 1.5em !important; }

.btn-green:hover {
  background-color: #388E3C !important;
  color: white !important;
  border-radius: 1.5em !important;
  transition: all 0.3s ease !important; }

.btn-large {
  padding: 1em; }

.hover-opacity:hover {
  opacity: 0.7;
  cursor: pointer; }

.float-header {
  background-color: #4CAF50;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 4em;
  color: white;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4) !important; }
  .float-header .menu-wrapper {
    margin-top: 0.5em;
    height: 3em; }
  .float-header i.icon-menu {
    font-size: 2em;
    margin-top: 0.2em; }
  .float-header h3 {
    margin-top: 0.25em; }
  .float-header button {
    margin-top: 0.25em; }

.sidebar {
  z-index: 99;
  background-color: white;
  height: 100%;
  width: 20em;
  position: fixed;
  padding-top: 5.5em;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4) !important;
  -ms-transform: translate(-100%, 0px) !important;
  /* IE 9 */
  -webkit-transform: translate(-100%, 0px) !important;
  /* Safari */
  transform: translate(-100%, 0px) !important;
  transition: all 0.3s ease !important; }
  .sidebar .sidebar-section {
    padding: 0; }
    .sidebar .sidebar-section ul {
      width: 100%;
      list-style: none;
      padding-left: 0px; }
      .sidebar .sidebar-section ul li a {
        padding: 1.5em;
        display: block;
        width: 100% !important;
        text-decoration: none;
        color: #5f5f5f; }
        .sidebar .sidebar-section ul li a i.fa {
          margin-right: 1em; }
      .sidebar .sidebar-section ul li a.active {
        background-color: #f8f8f8;
        color: #4CAF50;
        border-right: solid 5px #4CAF50;
        font-weight: bold; }
      .sidebar .sidebar-section ul li a:hover {
        background-color: #f8f8f8;
        color: #4CAF50; }

.full-width {
  width: 100%; }

@media (max-width: 768px) {
  .hide-on-small {
    display: none; } }

.slide-in {
  -ms-transform: translate(0px, 0px) !important;
  /* IE 9 */
  -webkit-transform: translate(0px, 0px) !important;
  /* Safari */
  transform: translate(0px, 0px) !important;
  transition: all 0.3s ease !important; }

.overlay {
  z-index: 98;
  background-color: black;
  opacity: 0.8;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  cursor: pointer; }

.lock-scrolling {
  height: 100vh;
  overflow: hidden; }

.pointer-hover {
  cursor: pointer; }

.modal-green .modal-header {
  background-color: #4CAF50;
  color: white; }
  .modal-green .modal-header button.close {
    color: white !important;
    opacity: 0.7 !important; }

.main {
  padding-top: 5.5em; }

.login-panel .panel-heading {
  background-color: white;
  font-weight: bold;
  font-size: 1.5em;
  color: #4CAF50; }
  .login-panel .panel-heading span {
    font-weight: 400;
    font-size: 0.65em;
    color: #5f5f5f; }
@media (min-width: 650px) {
  .login-panel {
    width: 550px;
    margin: auto; } }

.temukan-form input, .temukan-form select {
  border-radius: 0px;
  box-shadow: none; }
.temukan-form input:hover, .temukan-form input:focus, .temukan-form select:hover, .temukan-form select:focus {
  border: 1px solid #e0e0e0;
  border-bottom: 3px solid #4CAF50;
  box-shadow: none; }

.margin-0p5 {
  margin: 0.5em; }

.error {
  font-size: 1em;
  font-weight: 400;
  color: #F44336; }

.alert-red {
  background-color: white;
  border: solid 1px #e0e0e0;
  border-radius: 0;
  color: #F44336;
  border-left: solid 5px #F44336; }

.alert-green {
  background-color: white;
  border: solid 1px #e0e0e0;
  border-radius: 0;
  color: #4CAF50;
  border-left: solid 5px #4CAF50; }

.section {
  background-color: white;
  padding-bottom: 1em;
  padding-top: 1em;
  border-bottom: 5px solid #4CAF50;
  margin-bottom: 1em; }
  .section h3 {
    font-weight: bold;
    color: #4CAF50; }

.item {
  border: 1px solid #e0e0e0;
  padding: 0;
  margin-bottom: 2em; }
  .item .image {
    height: 200px;
    border-bottom: 1px solid #e0e0e0; }
    .item .image .img {
      position: relative;
      float: left;
      width: 100%;
      height: 100%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover; }
  .item .title {
    height: 3.4em;
    padding: 0.5em;
    overflow: hidden; }
    .item .title a {
      color: #5f5f5f !important; }
  .item .detail {
    padding: 0.5em;
    color: #a6a6a6;
    line-height: 1.5em;
    font-size: 0.9em; }
    .item .detail i.fa-user-circle {
      margin-right: 0.7em; }
    .item .detail i.fa-map-marker {
      margin-right: 1.1em; }
    .item .detail i.fa-tags {
      margin-right: 0.6em; }
  .item .view-button {
    padding-bottom: 1em; }

.item:hover {
  border: 1px solid #4CAF50; }

.temukan-pagination li a {
  color: #4CAF50; }
.temukan-pagination li.active a {
  background-color: #4CAF50;
  border: 1px solid #e0e0e0; }
.temukan-pagination li.active a:hover {
  background-color: #388E3C; }

.nav-tab {
  background-color: #4CAF50;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-bottom: 1em;
  padding: 0;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4) !important; }
  .nav-tab .item-tab {
    text-align: center;
    padding-top: 0; }
    .nav-tab .item-tab a {
      padding-top: 1.2em;
      color: white !important;
      text-decoration: none;
      display: block;
      height: 4em; }
    .nav-tab .item-tab a.active {
      border-bottom: 5px white solid;
      font-weight: bold; }
    .nav-tab .item-tab a:hover {
      border-bottom: 5px white solid; }

.contact .panel-body i.fa-phone {
  margin-right: 1em; }
.contact .panel-body i.fa-envelope {
  margin-right: 0.75em; }
.contact .panel-body i.fa-map-marker {
  margin-right: 1.2em; }

.input-hint {
  color: #4CAF50;
  cursor: help;
  margin-left: 0.5em; }

/*# sourceMappingURL=style.css.map */
